/* Questi sono i font da Google Font */
@import url(' https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;

  /* colori copiati dalla darkmode di github */
  --text: #E6EDF3;
  --text-muted: #7C8590;
  --primary: #3081F7;
  --bg: #0D1116;
  --bg-muted: #161B22;
  --border: #30363D;
  --coloreChiaro :  rgb(147, 202, 229);
}

.bg-coloreChiaro{
	background-color: rgb(147, 202, 229);
	}



main {
  margin: 0 auto;
  width: min(800px, 60vw);
}

button, .button {
  cursor: pointer;
  text-decoration: none;
}